.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    width: 100%;
    border: 2px solid gray;
    text-align: center;
    padding: 5px 0;
}

#btn {
    cursor: pointer;
}