.container {
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    background-color: rgb(224, 222, 222, .5);
    padding: 10px;
    border-radius: 10px;
}

.header-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    font-weight: 700;
}

.row-container .row:nth-child(3n+0) {
    background-color: rgb(255, 225, 169);
}

@media screen and (max-width:767px) {
    .container {
        width: 95%;
        margin: 0 auto;
        font-size: x-small;
        margin-bottom: 50px;
    }
}

@media screen and (min-width:767px) and (max-width:1023px) {
    .container {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
}